
html, body {
    max-width: 100%;
    overflow-x: hidden;
    background-color: whitesmoke;
}

.menu{
    background-color: #042159 !important;
    color: white;
    font-size: 22px;
}

.carrousel{
    margin-top: 80px;
}

.services{
    border: 3px solid black;
    margin-top: 10px;
    height: 150px;
    background-color: #042159;
    color: white;
}

.jobs{
    margin-top: 10px;
}

.about{
    border: 3px solid black;
    margin-top: 10px;
    height: 150px;
    background-color: #042159;
    color: white;
}

.contact{
    border: 3px solid black;
    margin-top: 10px;
    height: auto;
    background-color: #042159;
    color: white;
}


.footer{
    margin-top: 80px;
    height: 80px;
    position: relative;
    right: 0;
    left: 0;
    bottom: 0;
    background-color: #000000;
    color: whitesmoke;
}

.anchor{
    display: block;
    height: 80px; 
    margin-top: -80px; 
    visibility: hidden;

}

.nav-link{
    color: white !important;
    opacity: 0.5;
}

.nav-link:hover{
    color: lightgray !important;
    transition: ease-in 1s;
    opacity: 1;
    font-size: 23px;
}

.logo{
    color: white;
    font-weight: 500;
    font-size: 24px;
}

.logo:hover{
    color: whitesmoke;
    font-weight: 600;
    font-size: 27px;
    transition: ease-out 2s;
}
